
magic: policeman_ruleset
version: 0.1
id: "allow_styles_and_images_same_site"

l10n:
  en-US:
    name: "Allow styles and images from same site"
    description: "Allow styles and images from same second-level domain"

rules:
  [contentType] (STYLESHEET|IMAGE):
    [schemeType] web -> web:
      [baseDomain] * -> $&: ACCEPT
